# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened.
# This list is alphabetized by User -> Filename KEEP IT THAT WAY.
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners.

# MciReloaded / Mci
#Previously: DrExample / Nestor
###############

/.github/ @MciReloaded
/code/controllers/ @MciReloaded
/code/game/gamemodes/ @MciReloaded
/code/unit_tests/ @MciReloaded
/code/world.dm @MciReloaded
/code/hub.dm @MciReloaded
/.gitattributes @MciReloaded
/.gitconfig @MciReloaded
/.gitignore @MciReloaded
/.travis.yml @MciReloaded
/libbyond-extools.so @MciReloaded
/schema.sql @MciReloaded
maps/CEVEris/ @MciReloaded
maps/submaps/ @MciReloaded
*.dmm @MciReloaded
/code/controllers/configuration_eclipse.dm @MciReloaded
/code/controllers/failsafe.dm @MciReloaded
/code/controllers/master.dm @MciReloaded
